<div class="text-center mt-5">
    <form action="/auth/resetPassword" method="POST" class="d-flex flex-column">

        <div> <label for="newPassword">Enter New Password:</label>
            <input class="ms-4" type="text" id="newPassword" name="newPassword">


        </div>
        <div class="mt-3">
            <label for="confirmPassword">Enter Confirm Password:</label>
            <input type="text" id="confirmPassword" name="confirmPassword">
        </div>
        <div class="mt-3 ms-5"> <button class="btn-primary ms-2 rounded-2">Submit</button></div>

    </form>
</div>